@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">ICT171 Assignment 1</h1>
    
    <hr />
    <div>Descriptions</div>
</div>
<div>The project I propose is to develop a web application that allows users to manage and store their personal information securely. The application has an easy-to-use interface and is hosted on Microsoft Azure. A web app requires a web server, an application server, and a database to function. Web servers manage requests from clients, and application servers handle requested tasks. Web applications are useful for multiple users with access to the same version of the application. Users do not need to install the app and users can access the app from different platforms such as desktop, laptop and mobile. 
The project I propose will benefit privacy-conscious users who want to keep their personal information safe. The application provides an easy-to-use platform for storing and managing personal information, making it easy for users to manage their data securely.
    </div>
    <div>License:</div>
</div>
</div>My preferred license is Apache License 2.0. This license permits users to freely use and modify the code without disclosing the source code. It also grants the user the right to redistribute the software and its modifications without additional restrictions. Additionally, the Apache License 2.0 protects software contributors and ensures that their contributions are free from legal claims.
</div>
